@font-face {
  font-family: "Epilogue Regular";
  src: url(./component/asserts/font/epilogue-2-cufonfonts/Epilogue-Regular.ttf);
}
@font-face {
  font-family: "Epilogue SemiBold";
  src: url(./component/asserts/font/epilogue-2-cufonfonts/Epilogue-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: "Epilogue SemiBold";
}

body {
  background-color: #fbf3e9;
  font-family: "Epilogue Regular";
}
.max {
  max-width: 1060px;
}
/* Header section starts herer */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3.5% auto;
  align-items: center;
}
.container {
  margin: auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 11;
}
.logo {
  width: 75px;
  height: 83px;
}
.logo img {
  width: 100%;
}
.toggle {
  display: none;
}
.toggle i {
  font-size: 40px;
  color: #e17d47;
}
.listItems {
  display: flex;
  list-style: none;
  align-items: center;
}
.listItems li {
  list-style: none;
}
.mobileRaodmap {
  display: none;
}
.listItems li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 64px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
}
.mob-link {
  display: none;
}
.mobil-icons {
  display: none;
}
.btn {
  background-color: #be4a3b;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 12px 28px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 0;
  cursor: pointer;
}
.btn:hover {
  opacity: 75%;
}

/* post section starts here */
.post {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0% 0%;
  flex-direction: column;
  background-image: url("./component/asserts/Texture.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.leftPostContainer {
  width: 100%;
  box-sizing: border-box;
  margin: 5% auto;
  position: relative;

}
.postImage img {
  width: 100%;
}
.mobileImg {
  display: none;
}
.desktopImg {
  display: block;
}
.innerPost h1 {
  font-size: 39px;
  text-transform: uppercase;
  line-height: 45px;
  margin: 4% 35% 4% 0%;
  font-weight: 800;
}
.innerPost p {
  font-size: 20px;
  color: black;
  margin: 2% 52% 4% 0%;
  line-height: 28px;
  font-weight: 400;
}

.rightPostContainer {
  width: 40%;
  box-sizing: border-box;
  padding-right: 34%;
  margin-top: 5%;
}
.pandaImage {
  width: 54%;
  position: absolute;
  right: 0;
  bottom: -4px;
}

.pandaImage img {
  width: 100%;
}
.postImage {
  width: 64%;
  max-width: 781px;
}

/* The Lore of Panda section starts here */
.theLoreOfPanda {
  width: 100%;
  background-image: url("./component/asserts/Background_City.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}
.loreOfPandas {
  width: 100%;
  align-items: flex-start;
  justify-self: center;
  display: flex;
  box-sizing: border-box;
  color: white;
  margin: auto;
  max-width: 1060px;
  padding-top: 134px;
}
.leftLore {
  width: 50%;
  padding: 4% 0px;
  box-sizing: border-box;
}
.leftLore h1 {
  font-size: 49px;
  text-transform: uppercase;
  margin-bottom: 5%;
  line-height: 46px;
}

.leftLore p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.rightLore {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.weapons {
  position: absolute;
  right: 28%;
  top: 50%;
  max-width: 421px;
  width: 100%;
  transform: translate(50%, -41%);
}
.weapons img {
  width: 100%;
}
.papsPlate {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-115%, -50%);
}
/* .roadmap section starts here */
.roadmap {
  width: 100%;
  text-align: center;
  color: white;
  background-color: #080808;
  text-transform: uppercase;
  padding-top: 5%;
  font-size: 22px;
  border-top: 2px solid #080808;
  position: relative;
}
.roadmap h1 {
  margin: 4% 0%;
}
.roadmapContainer {
  width: 100%;
  display: flex;
  margin: auto;
  background-color: #080808;
  position: relative;
  background-image: url(./component/asserts/Group5.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-bottom: 190px;
}
.leftRoadMap {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  padding-right: 116px;
  box-sizing: border-box;
}
.card {
  width: 236px;
}
.card img {
  width: 100%;
}
.rightRoadMap ul,
.card {
  margin: 0%;
  padding-bottom: 88px;
}
.yellow-dot {
  width: 16px;
  height: 16px;
  background: #fcce75;
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.yellow-dot::before {
  content: "";
  width: 8px;
  height: 16px;
  position: absolute;
  background-color: white;
  left: 20%;
}
.rightRoadMap {
  width: 50%;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0% 62px 4%;
  box-sizing: border-box;
  text-transform: initial;
}
.rightRoadMap ul li {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}
.launchPaps {
  text-decoration-line: line-through;
  color: #f0aa1e !important;
}
/* Faqs  section starts here */
.faqs {
  width: 100%;
  margin: 45px auto;
  background-color: #4e97a8;
  text-align: center;
  text-transform: uppercase;
  color: white;
  border-radius: 18px;
  background-image: url("./component//asserts/halftone.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1060px;
}
.faqs-container {
  width: 100%;
  margin: auto;
  border-radius: 19px;
  padding: 11px;
  box-sizing: border-box;
}
.faqs-container h1 {
  padding: 2%;
  line-height: 60px;
  font-size: 62px;
  font-weight: 800;
}
.question {
  display: flex;
  justify-content: space-between;
  padding: 2% 4px;
  border-top: 2px solid white;
}
.question h2,
.question i {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.lastQuestion {
  border-bottom: 2px solid white;
}
.questions.active .answer {
  max-height: 300px;
}
.questions.active .caret {
  transform: rotate(180deg);
}
.answer {
  max-height: 0;
  overflow: hidden;
  transition: transform 2s all;
}
.answer p {
  text-align: justify;
  font-size: 20px;
  text-transform: unset;
  padding-bottom: 2%;
  font-weight: 200;
}
/* solona section starts */
.solana {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.solana p {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  padding-right: 8px;
}
.solanalogo {
  width: 100%;
  max-width: 162px;
}
.solanalogo img {
  width: 100%;
}
/* footer section starts here */
.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./component//asserts/footer-bg.png");
  margin-top: 5%;
  box-sizing: border-box;
  background-color: #34525e;
  padding: 2% 0%;
  border-radius: 48px 48px 0px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -9px 23px #7c7c7c;
}
.contactLinks {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
.contactLinks li {
  display: flex;
  margin: 20px;
  list-style: none;
}
.contactLinks li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: capitalize;
}
.midBoorder {
  position: absolute;
  top: 0;
  left: 0;
}

.footer-logo {
  width: 100%;
  max-width: 234px;
  margin: 134px auto;
}

.footer-logo img {
  width: 100%;
}

.mobileView {
  display: none;
}
.close-menu {
  display: none;
}
.solana-logo {
  display: flex;
  max-width: 300px;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: -15px;
  margin-top: -20px;
}

.solana-logo p {
  font-size: 20px;
  font-weight: 600;
}
.solana-logo img {
  margin: 0 12px;
}
.solana-logo span {
  font-size: 30px;
  font-weight: 700;
}
@media screen and (max-width: 1060px) {
  .header,
  .leftPostContainer,
  .loreOfPandas,
  .faqs {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .btn {
    margin: 0px 4px;
  }

  .roadmapContainer {
    padding-bottom: 84px;
  }
}
.buyOnmegic {
  display: none;
}
@media screen and (max-width: 768px) {
  /* header section starts here */
  .header {
    width: 95%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .mob-link {
    display: block;
  }
  .mob-link img {
    width: 31px;
    margin: 30px;
  }
  .listItems li a {
    font-size: 20px;
    margin: 10px;
    font-weight: 400;
  }
  .close-menu {
    display: block;
    padding-top: 70px;
    margin-left: 84% !important;
  }

  .btn {
    border-radius: 4px;
    padding: 6px;
    font-size: 18px;
    margin: 0px 10px;
  }
  .mobileImg {
    display: block;
  }
  .desktopImg {
    display: none;
  }
  .pandaImage {
    position: unset !important;
    width: 100%;
  }
  /* post section starts here */
  .post {
    width: 100%;
    flex-direction: column;
  }

  .leftPostContainer {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: -1px;
    background-color: black;
    padding-top: 40px;
  }

  .postImage {
    width: 70%;
    margin: auto;
  }

  .innerPost h1 {
    font-size: 30px;
    margin: 4% 0%;
  }
  .weapons {
    display: none;
  }
  .innerPost p {
    font-size: 16px;
    margin: 4% 0%;
  }
  /* the of the pandas section starts here */

  .loreOfPandas {
    width: 95%;
    margin: auto;
    flex-direction: column;
  }

  .leftLore {
    width: 100%;
  }

  .leftLore h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    width: 200px;
  }

  .leftLore p {
    text-align: justify;
    font-size: 16px;
  }
  /* roadmap section statts here */
  .leftRoadMap {
    padding: 0%;
    align-items: center;
  }

  .rightRoadMap {
    padding: 5% 0% 5% 16%;
  }

  /* // footer section starts here */
  .footerContainer {
    padding: 5% 0%;
  }

  .contactLinks {
    width: 95%;
  }

  .contactLinks li {
    margin: 0px;
  }

  .faqs {
    width: 95%;
  }
  .home-text {
    background-color: #faf1e8;
    padding: 12px 80px;
  }
  .buyOnmegic {
    display: block;
    height: 48px;
    width: 235px;
    border-radius: 8px;
    padding: 12px 28px 12px 28px;
    background: #be4a3b;
    margin: auto;
    margin-top: 24px;
    font-size: 17px;
    font-weight: 800;
    border: none;
    cursor: pointer;
    color: white;
  }
  .show {
    /* display: block !important; */
    top: 300px !important;
    transition: top 0.5s;
  }
}

@media screen and (max-width: 768px) {
  /* header section starts here  */
  .header {
    width: 100%;
    padding: 24px 2.5%;
    background-color: black;
    box-sizing: border-box;
    margin: 0px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    /* border: 2px solid whiite; */
    width: 90%;
    margin: auto;
    flex-direction: column;
    position: relative;
  }

  .logo {
    width: 36px;
    display: flex;
    align-items: center;
  }

  .toggle i {
    font-size: 20px;
    color: #faf1e8;
  }

  .logonIcon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .toggle {
    display: block;
  }

  .listItems {
    align-items: center;
    flex-direction: column;
    background-color: #faf1e8;
    position: fixed;
    top: -24px;
    width: 100%;
    left: 0;
    z-index: 1;
    border-radius: 0 0 34px 34px;
    transform: translate(0, -100%);
    transition: top 0.5s;
  }

  .listItems li {
    list-style: none;
    margin: 2.2% 0%;
    text-align: center;
  }
  .mobil-icons {
    display: flex;
  }
  /* post section starts here */
  .post {
    background-color: #010606;
  }
  .postContainer {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .top-btn {
    display: none;
  }
  .rightPostContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: #010606;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }

  .pandaImage {
    width: 100%;
  }

  .papsImage {
    padding: 12px 0px 44px 0px;
  }

  .papsBtn {
    font-weight: bolder;
    padding: 12px 28px;
  }

  .postImg {
    display: none;
  }

  .leftLore {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .leftLore p {
    text-align: center;
  }

  .item {
    width: 100%;
  }

  .contactLinks {
    flex-direction: column;
  }

  .contactLinks li {
    margin: 2.5%;
  }

  .contactLinks li a {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }

  .mobileView {
    display: flex;
    text-align: center;
    margin: auto;
  }

  .papsPlate {
    display: none;
  }

  .rightLore {
    display: none;
  }

  .loreOfPandas {
    width: 100%;
    text-align: center;
    padding: 0px 30px;
    box-sizing: border-box;
    box-shadow: inset -3px -69px 53px -18px black;
    padding-bottom: 46px;
  }

  /* //Roadmap section starts here */
  .roadmap {
    border: none;
    box-shadow: none;
    display: none;
  }

  .mobileRaodmap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .roadmapHeading {
    background-color: #010606;
    width: 100%;
    text-align: center;
    padding: 34px 0px;
  }

  .roadmapHeading h1 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 24px;
    line-height: 26px;
    color: white;
  }
  .apr {
    background-color: #391612;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
    margin-top: -1px;
  }
  .aprimg {
    width: 100%;
    max-width: 164px;
    padding: 18px 0px;
    box-sizing: border-box;
    margin: auto;
  }
  .aprimg img {
    width: 100%;
    transform: rotate(13deg);
  }
  .apr ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    max-width: 278px;
  }
  .apr ul li {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: white;
  }
  .may {
    background-color: #152c31;
  }
  .jun {
    background-color: #49380d;
    box-shadow: 0 35px 16px 12px #49380d;
  }
  /* FAQS section starts here */
  .faqs {
    background-color: #faf1e8;
    width: 90%;
    background-image: unset !important;
    padding-top: 49px;
  }
  .faqs-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: unset;
  }
  .questions {
    background-color: #c6d7d5;
    margin: 8px 0px;
    border-radius: 8px;
    max-width: 340px;
    padding: 6px;
    box-sizing: border-box;
  }
  .question {
    border: none;
  }
  .question h2,
  .question i {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    text-align: left;
    color: black;
  }
  .answer p {
    font-size: 16px;
    color: black;
  }
  .faqs-container h1 {
    color: black;
  }
  /* footer section starts here */
  .footer-logo {
    width: 100%;
    max-width: 158px;
    margin: 48px auto;
  }
}
@media screen and (max-width: 480px) {
  .home-text {
    padding: 12px 30px;
  }
  .postImage {
    max-width: 235px;
  }

  .leftLore {
    padding: 10px;
  }
  .leftLore h1,
  .innerPost h1 {
    font-size: 24px;
    line-height: 25px;
    margin: 20px 0;
  }
  .m-roadmap {
    max-width: 330px;
  }
  .faq .faq-arrow {
    right: 0;
  }
}
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #4593A5;; 
  border-radius: 10px;
}
